# cp env.example .env

API_NAME=todo
API_HOST=localhost
API_PORT=3080

DB_DRIVER=mysql
DB_HOST=go_db
DB_PORT=3306
DB_USER=user
DB_PASS=password
DB_NAME=todo_db

MYSQL_DATABASE=mysql
MYSQL_USER=user
MYSQL_PASSWORD=user_p@$$w0rd
MYSQL_ROOT_PASSWORD=root_p@$$w0rd
